#informacoes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .informacoes {
    display: flex;
    justify-content: center;
    padding-top: 172px;
    flex-direction: column;
    max-width: 1140px;
    width: 100%;
    .info-1 {
      flex-direction: row;
      display: flex;
      margin-bottom: 82px;
      .endereco {
        display: flex;
        align-items: start;
        flex-direction: column;
        padding-right: 100px;
        p {
          width: 241px;
          height: 39.2px;
          font-family: Lato;
          font-size: 0.875em;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.4;
          letter-spacing: 1px;
          color: #131313;
          margin: 42px 0 60.8px 0;
        }
        .box {
          position: relative;
          .language-1 {
            &.open {
              .text {
                &:after {
                  background-image: url("./imgs/accordion-before.svg");
                  min-width: 13px;
                  min-height: 8px;
                }
                span {
                  color: #d7bc18;
                  width: auto;
                }
              }
            }
            .text {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 155px;
              height: 63px;
              border-radius: 31.5px;
              border: solid 1px #e7e7e7;
              background-color: #ffffff;
              cursor: pointer;
              &:after {
                content: "";
                background-image: url("./imgs/accordion-after.svg");
                min-width: 13px;
                min-height: 8px;
                margin-left: 27px;
                display: block;
                transition: all 350ms ease-in-out;
              }
              span {
                font-family: Lato;
                font-size: 0.75em;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 1px;
                color: #131313;
                cursor: pointer;
                pointer-events: none;
              }
            }
          }
          .language-2 {
            transition: all 350ms ease-in-out;
            position: absolute;
            top: 0;
            max-height: 0;
            opacity: 0;
            pointer-events: none;
            &.active {
              transform: translateY(79px);
              max-height: 150px;
              opacity: 1;
              pointer-events: all;
            }
            .text {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 126px;
              height: 63px;
              border-radius: 35px;
              box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.1);
              border: solid 1px #e7e7e7;
              background-color: #ffffff;
              span {
                font-family: Lato;
                font-size: 0.75em;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 1px;
                color: #131313;
              }
            }
          }
        }
      }
    }
    .links {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      padding-right: 200px;
      h1 {
        height: 15px;
        font-family: Lato;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #a7a7a7;
        margin: 0;
      }
      a {
        height: 19px;
        font-family: Lato;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #131313;
        margin: 0;
        margin-top: 40px;
        transition: all 350ms ease-in-out;
        &:hover {
          color: #d7bc18;
        }
      }
    }
    hr {
      max-width: 1240px;
      width: 100%;
      height: 1px;
      background-color: #e7e7e7;
      margin: 0;
      border: none;
    }
    .redes-sociais {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      padding: 48px 0;
      .texto {
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          width: 306px;
          height: 19px;
          font-family: Lato;
          font-size: 1em;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: 1px;
          color: #131313;
          margin: 0;
        }
      }
      .icones {
        display: flex;
        max-width: 368px;
        width: 100%;
        justify-content: space-evenly;
      }
    }
    .termos {
      display: flex;
      justify-content: space-between;
      padding: 39px 0;
      p {
        width: 295px;
        height: 15px;
        font-family: Lato;
        font-size: 0.75em;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #131313;
        margin: 0;
      }
      a {
        width: 132px;
        height: 15px;
        font-family: Lato;
        font-size: 0.75em;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #131313;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  #informacoes {
    .informacoes {
      max-width: 850px;
    }
  }
}
@media screen and (max-width: 960px) {
  #informacoes {
    .informacoes {
      max-width: 600px;
      .info-1 {
        .endereco {
          padding-right: 0;
        }
        .links {
          padding-right: 75px;
        }
      }
    }
  }
}

@media screen and (max-width: 777px) {
  #informacoes {
    .informacoes {
      padding-top: 48px;
      .info-1 {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 0;
        .endereco {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          padding-right: 0;
          padding-bottom: 48px;
          width: 100%;
          border-bottom: 1px solid #e7e7e7;
          margin-bottom: 48px;
          p {
            margin: 24px 0 32.8px 0;
          }
          a {
            margin: 0 0 48px 0;
          }
        }
        .links {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-right: 0px;
          h1 {
            margin-bottom: 32px;
            text-align: center;
          }
          a {
            padding-top: 0;
            margin-top: 0;
            margin-bottom: 24px;
            text-align: center;
          }
        }
      }
      hr {
        margin: 24px 0;
      }
      .redes-sociais {
        padding: 24px 0;
        justify-content: center;
        .texto {
          display: none;
        }
        .icones {
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          height: 140px;
          max-width: 250px;
          .social {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 33%;
            width: 100%;
          }
        }
      }
      .termos {
        justify-content: center;
        flex-direction: column;
        padding: 15px 0 39px 0;
        p {
          width: unset;
          text-align: center;
        }
        a {
          width: unset;
          padding-top: 24px;
          text-align: center;
        }
      }
    }
  }
}
