#vantagens {
  overflow: hidden;
  .vantagens {
    .box {
      display: flex;
      flex-direction: row;
      max-height: 100vh;
      &.centro {
        flex-direction: row-reverse;
      }
      .imagem-nomad-0 {
        display: none;
        img {
          width: 100%;
          max-height: 600px;
          object-fit: cover;
        }
        .box-transacoes {
          position: absolute;
          max-width: 300px;
          width: 100%;
          left: 5%;
          .card-c {
            max-width: 215px;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 20px 15px;
            background-color: #fff;
            border-radius: 8px;
            margin: 20px;
            &:nth-child(2) {
              background-color: rgba(255, 255, 255, .7);
            }
            .logo {
              width: 35px;
              height: 35px;
              border-radius: 8px;
              background-color: #d7bc18;
              padding: 9px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .descricao {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              flex: 1;
              p {
                margin: 0;
                font-size: 12px;
                &.title {
                  font-weight: 800;
                  margin-bottom: 2px;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
      .imagem-nomad-1 {
        max-width: 50%;
        width: 100%;
        display: flex;
        align-items: center;
        img {
          width: 100%;
          max-height: 100%;
          height: 100%;
          object-fit: cover;
        }
        .box-transacoes {
          position: absolute;
          max-width: 300px;
          width: 100%;
          left: 5%;
          .card-c {
            max-width: 277px;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 20px 15px;
            background-color: #FFF;
            border-radius: 8px;

            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px;
            &:nth-child(3) {
              background-color: rgba(255, 255, 255, .7);
            }
            .logo {
              width: 48px;
              height: 48px;
              border-radius: 8px;
              background-color: #d7bc18;
              padding: 12px;
              display: flex;
              align-items: center;
              justify-content: center;
              img {
                opacity: 1 !important;
              }
            }
            .descricao {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              flex: 1;
              p {
                margin: 0;
                font-size: 11px;
                &.title {
                  font-weight: 800;
                  margin-bottom: 5px;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
      .box-textos {
        max-width: 50%;
        width: 100%;
        min-height: 100%;
        .box-1 {
          width: 100%;
          height: 50%;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          flex-direction: column;
          padding-top: 30px;
          padding-bottom: 30px;
          border-bottom: 1px solid #e7e7e7;
          .box-inside {
            h1 {
              width: 250px;
              height: 67.2px;
              font-family: Lato;
              font-size: 1.5em;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.4;
              letter-spacing: normal;
              color: #131313;
              margin-top: 32px;
            }
            p {
              width: 364px;
              height: 96px;
              font-family: Lato;
              font-size: 1em;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.5;
              letter-spacing: normal;
              color: #a7a7a7;
              margin: 0;
              padding-top: 16.8px;
            }
          }
        }
        .box-2 {
          width: 100%;
          height: 50%;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          flex-direction: column;
          padding-top: 30px;
          padding-bottom: 30px;
          .box-inside {
            h1 {
              width: 296px;
              height: 67.2px;
              font-family: Lato;
              font-size: 1.5em;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.4;
              letter-spacing: normal;
              color: #131313;
              margin-top: 32px;
            }
            p {
              width: 364px;
              height: 96px;
              font-family: Lato;
              font-size: 1em;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.5;
              letter-spacing: normal;
              color: #a7a7a7;
              margin: 0;
              padding-top: 16.8px;
            }
            .etiqueta {
              display: flex;
              align-items: center;
              justify-content: center;
              max-width: 185px;
              width: 100%;
              height: 31px;
              border-radius: 24px;
              background-color: #00a3a2;
              span {
                font-family: Lato;
                font-size: 12px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #ffffff;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  #vantagens {
    .vantagens {
      .box {
        max-height: none;
        .box-textos {
          .box-1 {
            padding: 48px 32px;
            .box-inside {
              h1 {
                margin-top: 20px;
              }
              p {
                padding-top: 0;
                font-size: 16px;
              }
            }
          }
          .box-2 {
            padding: 48px 32px;
            .box-inside {
              h1 {
                margin-top: 20px;
              }
              p {
                padding-top: 0;
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 777px) {
  #vantagens {
    .vantagens {
      .box {
        flex-direction: column;
        &.centro {
          flex-direction: column;
        }
        .imagem-nomad-0 {
          display: flex;
          align-items: center;
        }
        .imagem-nomad-1 {
          display: none;
        }
        .box-textos {
          max-width: 100%;
          .box-1 {
            .box-inside {
              h1 {
                margin-top: 32px;
              }
              p {
                width: unset;
                height: unset;
                padding-top: 16.8;
              }
            }
          }
          .box-2 {
            .box-inside {
              h1 {
                margin-top: 32px;
              }
              p {
                width: unset;
                height: unset;
                padding-top: 16.8;
              }
            }
          }
        }
      }
    }
  }
}
