.sobre-nos {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px 15px;
  font-family: "Montserrat";
  font-size: 1.375em;
  text-align: center;
  max-width: 977px;
  margin: auto;
}

@media only screen and (max-width: 991px) {
}
