.header {
  background-color: #0b0b0b;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;
  padding: 0 15px;
  z-index: 100;
  position: fixed;
  width: 100%;
  .container {
    justify-content: space-between;
  }
  .menu {
    width: calc(50% - 28.5px);
    z-index: 1;
    ul {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      font-family: "Brasilero 2018 Free";
      li {
        padding: 15px 40px;
        display: flex;
        align-items: center;
        flex-direction: column;
        &:after {
          content: "";
          width: 0;
          height: 1px;
          background-color: #fff;
          display: block;
          transition: all 350ms ease-in-out;
        }
        &:hover {
          &:after {
            width: 100%;
          }
          a {
            color: #fff;
          }
          .img-pesquisa {
            background-color: #fff;
          }
        }
        a {
          color: rgba($color: #fff, $alpha: 0.6);
          font-size: 1.125em;
          transition: all 350ms ease-in-out;
        }
        &.menu-mobile {
          display: none;
        }
        &.pesquisa {
          padding: 15px 0;
          &:after {
            display: none;
          }
        }
        .img-pesquisa {
          width: 32px;
          height: 18px;
          background-color: #c4c4c4;
          -webkit-mask-image: url("../../imgs/lupa.svg");
          mask-image: url("../../imgs/lupa.svg");
          -webkit-mask-repeat: no-repeat;
          -webkit-mask-position: center;
          -webkit-mask-size: contain;
          transition: all 350ms ease-in-out;
        }
      }
    }
  }
  .logo {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    object {
      pointer-events: none;
    }
  }
  .menu-aling-right {
    ul {
      justify-content: flex-end;
    }
  }
}

.container-menu-mobile {
  display: none;
}

@media only screen and (max-width: 1190px) {
  .header {
    .menu {
      width: calc(50% - 28.5px);
      z-index: 1;
      ul {
        li {
          padding: 15px;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .header {
    height: 80px;
    .menu {
      ul {
        justify-content: end;
        li {
          display: none;
          &.menu-mobile {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &:after {
              display: none;
            }
            &:hover {
              .img-menu-mobile {
                background-color: #fff;
              }
            }
            &.close {
              .img-menu-mobile {
                -webkit-mask-image: url("../../imgs/close.svg");
                mask-image: url("../../imgs/close.svg");
              }
            }
            .img-menu-mobile {
              width: 33px;
              height: 14px;
              background-color: #c4c4c4;
              -webkit-mask-image: url("../../imgs/menu-mobile.svg");
              mask-image: url("../../imgs/menu-mobile.svg");
              -webkit-mask-repeat: no-repeat;
              -webkit-mask-position: center;
              transition: all 350ms ease-in-out;
            }
          }
        }
      }
    }
    .logo {
      a {
        object {
          max-height: 45px;
        }
      }
    }
    .menu-aling-right {
      ul {
        justify-content: flex-end;
        li {
          &.pesquisa {
            display: flex;
          }
        }
      }
    }
  }
  .container-menu-mobile {
    display: flex;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 77px;
    transform: translateX(-100%);
    transition: all 350ms ease-in-out;
    margin-top: 80px;
    z-index: 100;
    &.open {
      transform: translateX(0);
    }
    .box-menu {
      width: 100%;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      padding-bottom: 77px;
    }
    .menu {
      ul {
        font-family: "Brasilero 2018 Free";
        li {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 25px 15px;
          &.active {
            a {
              color: #ffb800;
            }
          }
          a {
            color: #fff;
            text-align: center;
          }
        }
      }
    }
    .redes-social {
      position: absolute;
      bottom: 50px;
    }
  }
}
