.box-footer {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-40px);
  pointer-events: none;
  .footer-01 {
    background-image: url("../../imgs/footer-01.png");
    min-height: 305px;
    max-width: 447px;
    width: 100%;
    background-repeat: no-repeat;
  }
  .footer-02 {
    background-image: url("../../imgs/footer-02.png");
    min-height: 301px;
    width: 100%;
    background-repeat-y: no-repeat;
    background-position: 5px 159px;
    z-index: 1;
    background-size: 474px;
  }
}

footer {
  padding-top: 80px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 991px) {
  .box-footer {
    .footer-01 {
      min-height: 88px;
      max-width: 130px;
      width: 100%;
      background-size: 130px;
    }
    .footer-02 {
      min-height: 80px;
      width: 100%;
      background-repeat: repeat-x;
      z-index: 1;
      background-size: 132px;
      background-position: bottom left;
    }
  }
}
