.video-play {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  .container {
    flex-direction: column;
  }
  div {
    width: 100%;
    iframe {
      max-width: 100%;
      width: 100%;
      max-height: 850px;
      height: 1000px;
    }
  }
  .btn {
    width: 28px;
    height: 28px;
    background-color: #4a4a4a;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 14px;
    &:before {
      content: " ";
      position: absolute;
      width: 8px;
      height: 9px;
    }
    &.play {
      &:before {
        background-image: url("../../imgs/play.svg");
      }
    }
    &.pause {
      &:before {
        background-image: url("../../imgs/pause.svg");
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .video-play {
    div {
      iframe {
        height: auto;
      }
    }
  }
}
